* {
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: black;
}
nav {
    float: left;
    position: absolute;
}
#top{
    background-color: aliceblue;
}

body {
    width: 100%;
    height: 30%;
    color: cyan;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1483347756197-71ef80e95f73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bm9ydGhlcm4lMjBsaWdodHN8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    padding-left: 40px;
    font-size: 30px; 
    text-align: justify;
}


p {
    font-size: 30px;
    text-align: center;
    color: chartreuse;
}
.card {
    background-color: rgba(0, 0, 0, 0.542);
    width: 80%;
    margin: 40px auto;
    border: 5px solid #7d0091;
}
